<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu *ngFor="let menu of menus" [(nzOpen)]="menu.isOpen" (nzOpenChange)="openOnly(menu)">
        <span title><i class="anticon {{menu.icon}}"></i><span class="nav-text">{{menu.label}}</span></span>
        <ul style="max-height: 260px; overflow-y: scroll;">
          <li nz-menu-item *ngFor="let item of menu.menu">
            <a [routerLink]="item.link" routerLinkActive="active">{{item.label}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
         (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">EU Internatinal ©2017 Implement By Fuchao</nz-footer>
  </nz-layout>
</nz-layout>
