<nz-breadcrumb style="margin:12px 0;">
  <nz-breadcrumb-item>首页</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff; min-height: 360px;">
  <h3>欢迎来到易邮国际后台管理系统！</h3>
  <div style="padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            清关进度
          </ng-template>
          <ng-template #body>
            <nz-progress [ngModel]="50" [nzStatus]="'active'"></nz-progress>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总量
          </ng-template>
          <ng-template #body>
            <p>200, 000</p>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总额
          </ng-template>
          <ng-template #body>
            <p>200, 000, 000</p>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
  <div style="padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            清关进度
          </ng-template>
          <ng-template #body>
            <nz-progress [ngModel]="33" [nzStatus]="'active'"></nz-progress>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总量
          </ng-template>
          <ng-template #body>
            <p>200, 000</p>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总额
          </ng-template>
          <ng-template #body>
            <p>200, 000, 000</p>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
  <div style="padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            清关进度
          </ng-template>
          <ng-template #body>
            <nz-progress [ngModel]="100" [nzStatus]="'active'"></nz-progress>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总量
          </ng-template>
          <ng-template #body>
            <p>200, 000</p>
          </ng-template>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title>
            订单总额
          </ng-template>
          <ng-template #body>
            <p>200, 000, 000</p>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
</div>
